.DS_Store
node_modules
# /dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# README
chapter06/README.md
chapter07/README.md
chapter08/README.md
chapter09/README.md
chapter10/README.md
chapter11/README.md
chapter12/README.md
chapter13/README.md
chapter14/README.md
chapter15/README.md
chapter16/README.md
chapter17/README.md
chapter18/README.md